[submodule "databases/BD_Users_Primac"]
	path = databases/BD_Users_Primac
	url = https://github.com/cerealkiller3242/BD_Users_Primac.git
[submodule "databases/Primac-Claims-Payments-DB"]
	path = databases/Primac-Claims-Payments-DB
	url = https://github.com/Susopita/Primac-Claims-Payments-DB.git
[submodule "services/data_science_api"]
	path = services/data_science_api
	url = https://github.com/V-Yeimi19/API-Analytic-Primac.git
[submodule "databases/policy-db-postgres"]
	path = databases/policy-db-postgres
	url = git@github.com:andrxeaa/policy-db-postgres.git
